/* Tiktok button */
#tiktok-btn {
    background-color: #000;
    color: #fff;
    border: none;
    margin-bottom: 8px;
    font-size: 12px;
}

#tiktok-btn:hover {
    background-color: #333;
}

/* Facebook button */
#facebook-btn {
    background-color: #1877f2;
    color: #fff;
    border: none;
    margin-bottom: 8px;
    font-size: 12px;
}

#facebook-btn:hover {
    background-color: #145dbf;
}

/* Zalo button */
#chat-btn {
    background-color: #fff;
    color: #0078ff;
    border: 1px solid #0078ff;
    margin-bottom: 8px;
    font-size: 12px;
}

#chat-btn:hover {
    background-color: #f0f8ff;
    color: #0056b3;
}

/* Hotline button */
#hotline-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    margin-bottom: 8px;
    font-size: 12px;
}

#hotline-btn:hover {
    background-color: #b02a37;
}

/* Cart button in chat widget */
#cart-btn {
  background-color: #28a745;
  color: #fff;
  border: none;
  margin-bottom: 8px;
  font-size: 12px;
}

#cart-btn:hover {
  background-color: #218838;
} 